<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="card-body text-center">
          <%= image_tag("makers_shortner_logo.png", :alt => "Makers Network's Logo") %>
          <div class="text-white">
            <h1 class="h1 mt-5"><%= link_to 'Comece a Usar', '/login' %></h1>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>