<div class="container">
  <div class="text-center text-white mb-5">
    <h1 class="h1">Nova URL</h1>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card-body text-center">
            <form style="max-width: 700px;" class="mx-auto">
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="Example input">
              <label for="formGroupExampleInput">URL</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="Example input">
              <label for="formGroupExampleInput">Apelido</label>
            </div>
            <div class="text-end">

              <button class="btn btn-lg btn-success mt-3" type="submit">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>   
  </div>
</div>